---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<div class="site-title">
			<h2><a href="/">{SITE_TITLE}</a></h2>
			<p class="site-description">{SITE_DESCRIPTION}</p>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 1em 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
	}
	.site-description {
		margin: 0;
		font-size: 0.75em;
	}

	h2 a {
		color: var(--black);
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
</style>
